<!DOCTYPE html>
<html>
<head>
    <title>TODO App</title>
</head>
<body>

    <h1>Мой TODO список</h1>

    <form method="POST">
        <input type="text" name="task" placeholder="Введите задачу">
        <button type="submit">Добавить</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                {% if task["completed"] == 1 %}
                    <s>{{ task["content"] }}</s>
                {% else %}
                    {{ task["content"] }}
                {% endif %}
            
                <a href="/toggle/{{ task['id'] }}">✔️</a>
                <a href="/delete/{{ task['id'] }}">❌</a>
            </li>
        {% endfor %}
    </ul>


</body>
</html>
